@model IEnumerable<PeopleSearchWebApplication.Models.Person>


<div>
    <table class="table" border="1">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salutation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleInitial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
        </tr>

        @foreach (var item in ViewData.Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Salutation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
            </tr>
        }

    </table>
</div>

<div>
    @Html.ActionLink("Back to People List", "Person")
</div>